DB_HOST=db.otiwmjiuprhdqhjzyrmz.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=d5OxyliJyze5wuNm
DB_NAME=postgres
PORT=5001




---postgresql://postgres:Admin%40celexa123@db.otiwmjiuprhdqhjzyrmz.supabase.co:5432/postgres