PORT=5001
MONGO_URI=mongodb+srv://sammohanty04_db_user:YdypbTOlSiGI6LZa@cluster0.ab9gygq.mongodb.net/?appName=Cluster0

EMAIL_HOST=smtpout.secureserver.net
EMAIL_PORT=587

EMAIL_USER=info@cellexa.co.in
EMAIL_PASSWORD=Cellexa@it2026

RECEIVER_EMAIL=info@cellexa.co.in

